{% extends "base.html.twig" %}

{% block body %}
   {% include "inc/navbar_teacher.html.twig" %}

    <h1>{{ examName }}</h1>


    <form method="post" action="{{ path('form_fill', { id:examid } ) }}">
        <h2>Questions</h2>
        <label class="form-check-label" for="exampleCheck1">Random Questions</label>
        <input type="checkbox" name="randomq">


              <input type="number" class="form-control" name="numqextions"
               placeholder=" enter number of random questions"
               min="1" max="{{ maxRows }}" >
    <ul class="list-group">
        {% for q in questions %}
        <li class="list-group-item">{{ q.question }} <input type="checkbox" aria-label="Checkbox for following text input"
        name="questionid[]" value="{{ q.id }}"></li>
        {% endfor %}
    </ul>
        <button type="submit" class="btn btn-primary">Submit</button>

    <h2>Students:</h2>
    <label class="form-check-label" for="exampleCheck1">For all Students</label>
    <input type="checkbox" name="allstudents" >
    <ul class="list-group list-group-flush">

    {% for s in students %}
        <li class="list-group-item">{{ s.username }}<input type="checkbox" aria-label="Checkbox for following text input"
            name="studentid[]" value="{{ s.id }}"></li>
    {% endfor %}
    </ul>
    </form>
{% endblock %}