{% extends "base.html.twig" %}

{% block body%}
{% include "inc/navbar_teacher.html.twig" %}

    <h2>{{ subject.name }} </h2>
    <br>
    <br>
    <p>description:
        <br>
        {{ subject.description }}
    </p>

    <h2> create Question</h2>
    <form  action="{{ path("formquestion") }}"  method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Enter Question</label>
            <input type="text" class="form-control"   placeholder="Enter question" name="question">
            <input type="hidden" value="{{ subject.id }}" name="subject_id">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a class="btn btn-info" href="{{ path('create_exam', {subjectId:subject.id}) }}">
        Create exam
    </a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><h3>Exams:</h3></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for ee in subject.exams %}
            <tr>
                <th scope="row">{{ ee.name }}</th>
                 <td> <a class="btn btn-info" href="{{ path('exam_fill', {examid:ee.id }) }}">open</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><h3>Questions:</h3></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for q in questions %}
        <tr>
            <th scope="row">{{ q.question }}</th>

            <td> <a class="btn btn-info" href="{{ path('create_answer', { id:q.id }) }}">open</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}